/* Formigo Social Links 
 * social_links_circle_colour_32px template
*/

.social-links-circle-colour-32-wrapper {
	position:relative;height:auto;width:100%;margin:0px;padding:0px;
}	
.social-links-circle-colour-32 {
	list-style:none; text-align:left; height:auto!important;
	width:100%;overflow:hidden;float:right;margin:0px!important;padding:0px!important;
	border-bottom:none!important;
	
}
.social-links-circle-colour-32 li {
	width:100%;margin:0px!important;padding:0px!important;
}
.social-links-circle-colour-32 a {
	float:right;display:block;height:32px;width:32px;text-indent:-9999px;padding:0px!important;
	background:url(social-links-circle-colour-32px.png) 0 0 no-repeat!important;
	margin:0 8px 0 0!important;
	-webkit-transition: background-position .3s ease-in;
	-moz-transition:  background-position .3s ease-in;
	-o-transition:  background-position .3s ease-in;
	-ms-transition:  background-position .3s ease-in-out;
	transition: background-position .3s ease-in;	
}
.social-links-circle-colour-32 a:hover {
	padding:0px!important;
	margin:0 8px 0 0!important;
}
/* Social styles */
.social-links-circle-colour-32 li.twitter a {
	background-position: -32px 0!important;
}
.social-links-circle-colour-32 li.twitter a:hover {
	background-position: -32px -32px!important;
}
.social-links-circle-colour-32 li.facebook a {
	background-position: 0px 0!important;
}
.social-links-circle-colour-32 li.facebook a:hover {
	background-position: 0px -32px!important;
}
.social-links-circle-colour-32 li.googleplus a {
	background-position: -96px 0!important;
}
.social-links-circle-colour-32 li.googleplus a:hover {
	background-position: -96px -32px!important;
}
.social-links-circle-colour-32 li.linkedin a {
	background-position: -64px 0!important;
}	
.social-links-circle-colour-32 li.linkedin a:hover {
	background-position: -64px -32px!important;
}
.social-links-circle-colour-32 li.foursquare a {
	background-position: -288px 0!important;
}
.social-links-circle-colour-32 li.foursquare a:hover {
	background-position: -288px -32px!important;
}
.social-links-circle-colour-32 li.flickr a {
	background-position: -160px 0!important;
}
.social-links-circle-colour-32 li.flickr a:hover {
	background-position: -160px -32px!important;
}
.social-links-circle-colour-32 li.youtube a {
	background-position: -192px 0!important;
}
.social-links-circle-colour-32 li.youtube a:hover {
	background-position: -192px -32px!important;
}	
.social-links-circle-colour-32 li.vimeo a {
	background-position: -224px 0!important;
}
.social-links-circle-colour-32 li.vimeo a:hover {
	background-position: -224px -32px!important;
}
.social-links-circle-colour-32 li.pinterest a {
	background-position: -256px 0!important;
}
.social-links-circle-colour-32 li.pinterest a:hover {
	background-position: -256px -32px!important;
}
.social-links-circle-colour-32 li.rss a {
	background-position: -128px 0!important;
}
.social-links-circle-colour-32 li.rss a:hover {
	background-position: -128px -32px!important;
}